@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');

body {
  overflow-x: hidden;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
}

p {
  font-size: 26px;
}

.mainSmallFooter {
  display: none;
}

header {
  height: 64px;
  background-color: #CD212C;
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 18px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 119.2%;
  width: 330px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 24px;
  text-decoration: none;
}

.descriptor {
  width: 282px;
  height: 42px;
  margin-top: 1px;
}

header ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 23px;
  margin-right: 24px;
}

header ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

header ul li {
  margin-right: 64px;
}
header ul li:last-child {
  margin-right: 0;
}

.brandingHeader {
  width: 178px;
}

.posterHeader {
  width: 84px;
}

.spaceHeader {
  width: 132px;
}

.rebrandingHeader {
  width: 113px;
}

.brandingHeader a:hover {
  font-weight: 700;
}

.posterHeader a:hover {
  font-weight: 700;
}

.spaceHeader a:hover {
  font-weight: 700;
}

.rebrandingHeader a:hover {
  font-weight: 700;
}

.burger {
  display: none;
}

.cross {
  display: none;
}

.menu {
  display: none;
}



.brandingIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introButton {
  margin-top: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.introButton img {
  margin-top: 12px;
}

.brandingIntroContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 1023px;
  margin-top: 180px;
}

.brandingIntroContainer h1 {
  font-size: 72px;
  font-weight: 700;
  width: 688px;
}

.brandingIntroContainer ul li{
  font-size: 32px;
  width: 300px;
  margin-bottom: 12px;
}

.brandingIntroContainer ul li:hover {
  color: #CD212C;
  font-weight: 700;
  cursor: default;
}



section {
  display: flex;
}

.branding {
  margin-top: 180px;
  margin-left: 180px;
  flex-direction: row;
}

.posters {
  margin-left: 180px;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1398px;
  margin-top: -100px;
}

.space {
  margin-left: 182px;
}

.rebranding {
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1474px;
  margin-left: 104px;
}


section h1 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 16px;
}

section p {
  margin-bottom: 64px;
  line-height: 134%;
  width: 606px;
}

section h2 {
  font-size: 18px;
  font-weight: 700;
  color: #9F9F9F;
  margin-bottom: 20px;
}

section span {
  font-size: 26px;
  font-weight: 700;
  color: #CD212C;
  margin-right: 12px;
}

.imgContainer {
  width: 720px;
}

.flexContainer2 {
  height: 333px;
  margin-top: 325px;
}

.flexContainer3 {
  height: 333px;
  margin-top: 325px;
}

.flexContainer4 {
  margin-top: 325px;
}






.mainFooter {
  background-color: #CD212C;
  color: white;
  font-size: 18px;
  display: inline-block;
  margin-top: -5px;
  width: 100%;
}

.mainFooter a {
  color: white;
}

.mainFooter ul {
  display: flex;
  flex-direction: row;
  height: 175px;
  width: 1419px;
  margin-left: 192px;
  margin-top: 106px;
  margin-right: 292px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logos {
  display: flex;
  width: 280px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.me {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.me h3 {
  font-weight: 700;
  margin-bottom: 16px;
}

.heads {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heads h3 {
  font-weight: 700;
  margin-bottom: 16px;
}

.heads h4 {
  margin-bottom: 16px;
}

.pages1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pages2 {
  display: flex;
  flex-direction: column;
  height: 97px;
  justify-content: space-between;
}

.tittleContainer {
  font-size: 13px;
  margin: 0px 24px 24px 24px;
  display: flex;
  justify-content: space-between;

}

.tittleContainer span {
  height: 18px;
}

.smallestContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}





@media (max-width: 1440px) {
  .branding {
    margin-left: 142px;
    margin-top: 142px;
  }
  .imgContainer {
    width: 600px;
    height: 841px;
  }
  .imgContainer img {
    width: 270px;
    height: 404px;
  }
  .posters {
    margin-left: 20px;
    width: 1271px;
    margin-top: -200px;
  }
  .space {
    margin-left: 142px;
  }
  .rebranding {
    margin-left: 22px;
    width: 1305px;
    margin-right: 142px;
    margin-top: -252px;
  }
  .rebranding .spionMain {
    width: 684px;
    height: 890px;
  }



  .mainFooter {
    width: 100%;
  }
  .mainFooter ul {
    margin-left: 144px;
    width: 1044px;
  }

  .logos {
    width: 210px
  }
  .logos img:first-of-type {
    width: 54px;
    height: 32px;
  }
  .logos img {
    width: 40px;
    height: 40px;
  }
}


@media (max-width: 1152px) {
  header ul li a {
    font-size: 15px;
  }

  header ul {
    width: 675px;
}





  section h1 {
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 16px;
  }

  section h2 {
    font-size: 15px;
  }

  section p {
  font-size: 20px;
  width: 445px;
  }
  .brandingIntroContainer {
    width: 931px;
  }
  .brandingIntroContainer h1 {
    font-size: 64px;
    width: 612px;
  }

  .brandingIntroContainer ul li {
    font-size: 30px;
    width: 265px;
    margin-bottom: 12px;
  }


  .identityMain {
    width: 951px;
    height: 710px;
  }
  .branding {
    margin-left: 118px;
    margin-top: 118px;
  }

  section span {
    font-size: 20px;
    font-weight: 700;
    color: #CD212C;
    margin-right: 12px;
}

  .link a img {
    width: 51px;
    height: 11px;
  }

  .imgContainer {
    width: 444px;
    height: 663px;
  }
  .imgContainer img {
    width: 214px;
    height: 321px;
  }
  .posters {
    margin-left: 20px;
    width: 1010px;
    margin-top: -200px;
  }
  .space {
    margin-left: 118px;
  }

  .booksSpace {
    width: 966px;
    height: 864px;
  }
  .rebranding {
    margin-left: 9px;
    width: 1022px;
    margin-right: 118px;
    margin-top: -50px;
  }
  .rebranding .spionMain {
    width: 539px;
    height: 700px;
  }

  .mainFooter {
    display: none;
  }

  .mainSmallFooter {
    display: inline-block;
    width: 100%;
    background-color: #CD212C;
    color: white;
    margin-top: -10px;
  }

  .mainSmallFooter a {
    color: white;
  }

  .massSmallFooterContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 12px;
    height: 528px;
  }
  .lessSmallFooterContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 25px 25px 25px;
  }
  .smallFooterContainer1 h4 {
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
  }
  .smallFooterContainer2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 250px;
    margin-left: 91px;
  }

  .smallFooterContainer2 h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .smallFooterContainer2 h4 {
    margin-bottom: 25px;
  }

  .smallFooterContainer3 {
    display: flex;
    justify-content: space-between;
    width: 259px;
  }
  .lessSmallFooterContainer span {
    font-size: 13px;
    max-width: 555px;
    min-width: 0px;
  }
}

@media (max-width: 834px) {
  .menu {
    background-color: #CD212C;
    width: 100%;
    height: 158px;
    align-items: center;
    position: absolute;
  }

  .menu ul {
    display: flex;
    justify-content: space-between;
    width: 739px;
    align-items: center;
    margin-left: 47px;
    margin-right: 47px;
    padding-top: 35px;
  }
  .menu ul li {
    display: flex;
    align-items: center;
    text-align: center;
  }

  section span {
    margin-right: 0px;
}

  .menu ul li span {
    font-size: 24px;
    color: white;
  }

  #first {
    width: 158px;
    line-height: 138.7%;
  }

  #second, #third, #fourth {
    margin-left: 36px;
  }

  .brandingHeader, .posterHeader, .spaceHeader, .rebrandingHeader {
    display: none;
  }

  .descriptor {
    display: none;
  }

  .burger {
    display: block;
    margin-top: 16px;
    margin-right: 25px;
    width: 30px;
    height: 30px;
  }

  .cross {
    display: none;
    margin-top: 16px;
    margin-right: 25px;
    width: 30px;
    height: 30px;
}

    header ul {
      width: auto;
      margin-top: 0;
      margin-right: 0;
  }





  section h2 {
    font-size: 12px;
    margin-bottom: 16px
  }
  section h1 {
    margin-bottom: 12px;
  }

  section p {
    font-size: 18px;
    width: 381px;
    margin-bottom: 40px;
  }
  .brandingIntroContainer {
   width: 756px;
  }
  .brandingIntroContainer h1 {
    font-size: 48px;
    width: 612px;
  }

  .brandingIntroContainer ul li {
    font-size: 30px;
    width: 265px;
    margin-bottom: 12px;
  }

  .identityMain {
    width: 522px;
    height: 390px;
    margin-top: 280px;
    margin-left: -181px;
  }

  .branding {
    margin-left: 125px;
    margin-top: 125px;
  }

  section span {
    font-size: 18px;
    margin-right: 12px;
}

  .imgContainer {
    width: 381px;
    height: 571px;
  }
  .imgContainer img {
    width: 184px;
    height: 277px;
  }

  .posters {
    margin-top: -100px;
    width: 786px;
  }

  .flexContainer2 {
    margin-top: 300px;
  }
  .booksSpace {
    width: 846px;
    height: 756px;
    margin-top: 128px;
    margin-left: -188px;
  }
  .flexContainer3 {
    margin-top: 113px;
  }

  .rebranding .spionMain {
    width: 381px;
    height: 494px;
  }

  .rebranding {
    margin-left: 9px;
    width: 792px;
    margin-right: 118px;
    margin-top: -112px;
  }

  .flexContainer4 {
    margin-top: 156px;
  }
}

@media (max-width: 414px) {
  .menu {
    height: 674px;
  }

  .menu ul {
    flex-direction: column;
    width: 0;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }

  .menu ul li {
    margin-bottom: 140px;
  }

  #first {
    margin-left: 0;
    margin-right: 0;
  }

  #second {
    margin-left: 0;
    margin-right: 0;
  }

  #third {
    margin-left: 0;
    margin-right: 0;
  }

  #fourth {
    margin-left: 0;
    margin-right: 0;
  }






  .brandingIntroContainer h1 {
    font-size: 48px;
    width: 364px;
    line-height: 138%;
  }

  .brandingIntroContainer ul {
    margin-left: 187px;
    margin-top: -53px;
  }

  .brandingIntroContainer ul li {
    font-size: 24px;
    width: 214px;
    margin-bottom: 12px;
  }

  .brandingIntroContainer {
    width: 364px;
    flex-direction: column;
    margin-top: 64px;
  }

  .branding {
    flex-direction: column;
    margin-left: 16px;
    margin-top: 64px;
  }

  .identityMain {
    width: 388px;
    height: 321px;
    margin-top: 0;
    margin-left: 0;
  }

  .posters {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .space {
    flex-direction: column;
    margin-left: 16px;
    margin-top: 64px;
  }

  .rebranding {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-top: 64px;
  }

  .booksSpace {
    width: 380px;
    height: 340px;
    margin-left: 0;
    margin-top: 0;
  }

  section h1 {
    margin-bottom: 12px;
    width: 250px;
  }

  .introButton {
    display: none;
  }

  section h1 {
    font-size: 36px;
    width: 250px;
  }

  .flexContainer2 {
    margin-top: 64px;
    margin-left: 16px;
    height: 275px;
  }

  .flexContainer3 {
    height: 291px;
  }

  .imgContainer {
    margin-left: 24px;
  }

  .flexContainer4 {
    margin-top: 0;
    margin-left: 16px;
  }
    .spionMain {
    margin-left: 16px;
    margin-top: 64px;
  }



  .lessSmallFooterContainer {
    flex-direction: column;
  }

  .lessSmallFooterContainer span {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .smallFooterContainer2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 250px;
    margin-left: 0;
  }
}
