@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');
@import "paragraphs.css";

body{
  font-family: 'Open Sans';
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  font-size: 26px;
}

.mainSmallFooter {
  display: none;
}



header {
  height: 64px;
  background-color: #CD212C;
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

h3 {
    font-size: 36px;
    font-weight: 700;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 119.2%;
  width: 330px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 24px;
  text-decoration: none;
}

.descriptor {
  width: 282px;
  height: 42px;
  margin-top: 1px;
}

header ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 23px;
  margin-right: 24px;
}

header ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

header ul li {
  margin-right: 64px;
}
header ul li:last-child {
  margin-right: 0;
}

.brandingHeader {
  width: 178px;
}

.posterHeader {
  width: 84px;
}

.spaceHeader {
  width: 132px;
}

.rebrandingHeader {
  width: 113px;
}

.brandingHeader a:hover {
  font-weight: 700;
}

.posterHeader a:hover {
  font-weight: 700;
}

.spaceHeader a:hover {
  font-weight: 700;
}

.rebrandingHeader a:hover {
  font-weight: 700;
}

.burger {
  display: none;
}

.cross {
  display: none;
}

.menu {
  display: none;
}








.posterIntro {
  background-color: #CD212C;
  color: white;
  display: inline-block;
  height: 947px;
}

.posterIntro h1 {
  margin-top: 180px;
  margin-left: 180px;
  margin-bottom: 42px;
  width: 1084px;
  line-height: 98%;
}

.posterIntro p {
  margin-left: 180px;
}

.posterIntro img {
  margin-top: -600px;
  width: 100%;
}

.firstTypoSection {
  margin-left: 180px;
}

.glazaPoster1 {
  position: absolute;
  right: 0;
  right: 180px;
}

.firstSmallContainer {
  display: flex;
  justify-content: space-between;
  width: 1318px;
  margin-left: -93px;
}

.firstSmallContainer div {
  margin-top: 450px;
}

.firstSmallContainer h3 {
  margin-bottom: 12px;
}

.secondTypoSection div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1324px;
  margin-left: 498px;
  margin-top: -400px;
}

.secondTypoSection p {
  margin-top: 450px;
}

.thirdTypoSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thirdTypoSection div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1471px;
}

.thirdTypoSection p {
  margin-top: 12px;
  margin-left: 310px;
}

.fourthTypoSection {
  width: 1552px;
  margin-left: 180px;
  display: inline-block;
  margin-top: 64px;
  height: 1839px;
}

.fourthTypoSection .postersContainer {
    position: absolute;
    left: 173px;
    top: 5119px;
}

.typoPoster6 {
  position: absolute;
  left: 565px;
}

.typoPoster7 {
    position: absolute;
    left: 175px;
    top: 4557px;
}

.typoPoster8 {
    position: absolute;
    right: 131px;
    top: 4545px;
}

.fourthTypoSection h3 {
  margin-bottom: 12px;
}

.firstGraphoSection {
  margin-left: 180px;
}

.secondSmallContainer {
  display: flex;
  justify-content: space-between;
  width: 1318px;
  margin-left: -93px;
}

.secondSmallContainer div {
  margin-top: 450px;
}

.secondSmallContainer h3 {
  margin-bottom: 12px;
}

.secondGraphoSection div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1324px;
  margin-left: 498px;
  margin-top: -400px;
}

.secondGraphoSection p {
  margin-top: 533px;
}

.thirdGraphoSection {
  margin-left: 180px;
}

.glazaPoster4 {
  position: absolute;
  right: 0;
  right: 180px;
}

.thirdSmallContainer {
  display: flex;
  justify-content: space-between;
  width: 1318px;
  margin-left: -93px;
}

.thirdSmallContainer div {
  margin-top: 604px;
}

.fourthGraphoSection {
  width: 1552px;
  margin-left: 180px;
  margin-top: 64px;
  height: 1657px;
}

.graphoPoster4 {
  position: absolute;
  left: 162px;
}

.graphoPoster5 {
  position: absolute;
  left: 951px;
}

.graphoPoster6 {
    position: absolute;
    top: 9538px;
    left: 951px;
}






.moreFooter {
  width: 100%;
  background-color: #CD212C;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: white;
}

.moreFooter a {
  color: white;
}

.moreFooter h1 {
  width: 1011px;
  margin-top: 64px;
  margin-bottom: 42px;
}


.moreFooter ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;
  width: 1566px;
}

.moreFooter ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mainFooter {
  background-color: #CD212C;
  color: white;
  font-size: 18px;
  display: inline-block;
  margin-top: -5px;
  width: 100%;
}

.mainFooter a {
  color: white;
}

.mainFooter ul {
  display: flex;
  flex-direction: row;
  height: 175px;
  width: 1419px;
  margin-left: 192px;
  margin-top: 106px;
  margin-right: 292px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.mainFooter Ul Li h3 {
  font-size: 18px;
}

.logos {
  display: flex;
  width: 280px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.me {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.me h3 {
  font-weight: 700;
  margin-bottom: 16px;
}

.heads {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heads h3 {
  font-weight: 700;
  margin-bottom: 16px;
}

.heads h4 {
  margin-bottom: 16px;
}

.pages1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pages2 {
  display: flex;
  flex-direction: column;
  height: 97px;
  justify-content: space-between;
}

.tittleContainer {
  font-size: 13px;
  margin: 0px 24px 24px 24px;
  display: flex;
  justify-content: space-between;

}

.tittleContainer span {
  height: 18px;
}

.smallestContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.introButton a {
    position: absolute;
    left: 430px;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 697px;
}

.introButton a span {
  font-weight: 700;
  color: white;
  font-size: 26px;
}

#buttonImg {
    margin-top: 12px;
    margin-left: 0;
    width: auto;
}

.posterIntro img {
    margin-top: -491px;
    width: 100%;
    height: auto;
}

.error {
  display: none;
}

.error h1{
  color: #CD212C;
}
.error h2{
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}




@media (max-width: 1440px) {
  .posterIntro img {
    margin-top: -355px;
    width: 1440px;
  }

  .posterIntro h1 {
    margin-top: 142px;
    margin-left: 142px;
    margin-bottom: 42px;
    width: 1084px;
    line-height: 98%;
  }

  .posterIntro p {
    margin-left: 142px;
  }

  .posterIntro {
    background-color: #CD212C;
    color: white;
    display: inline-block;
    height: 895px;
  }

  .firstTypoSection {
    margin-left: 142px;
  }

  .firstSmallContainer {
    display: flex;
    justify-content: space-between;
    width: 1222px;
    margin-left: -93px;
  }

  .firstSmallContainer div {
    margin-top: 450px;
    margin-left: 15px;
  }

  .secondTypoSection div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1223px;
    margin-left: 142px;
    margin-top: -400px;
  }

  .thirdTypoSection img {
    width: 350px;
    height: 500px
  }

  .thirdTypoSection div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1170px;
  }

  .typoPoster6 {
    width: 920px;
    left: 349px;
  }

  .typoPoster7 {
    width: 564px;
    left: 142px;
    top: 4143px;;
  }

  .typoPoster8 {
    width: 562px;
    top: 4135px;
  }

  .fourthTypoSection .postersContainer {
    position: absolute;
    left: 142px;
    top: 4542px;
  }

  .fourthTypoSection {
    width: 1552px;
    margin-left: 180px;
    display: inline-block;
    margin-top: 64px;
    height: 1405px;
  }

  .firstGraphoSection {
    margin-left: 142px;
  }

  .secondSmallContainer {
    display: flex;
    justify-content: space-between;
    width: 1233px;
    margin-left: -71px;
  }

  .secondGraphoSection div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1205px;
    margin-left: 142px;
    margin-top: -400px;
  }

  .glazaPoster4 {
    position: absolute;
    right: 0;
    right: -4px;
  }

  .thirdSmallContainer {
    display: flex;
    justify-content: space-between;
    width: 1250px;
    margin-left: -93px;
  }

  .thirdGraphoSection {
    margin-left: 180px;
  }

  .graphoPoster4 {
    width: 566px;
    left: 153px;
  }

  .graphoPoster5 {
    width: 566px;
    left: 749px;
  }

  .graphoPoster6 {
    width: 452px;
    top: 8580px;
    left: 751px;
  }

  .fourthGraphoSection {
    width: 1552px;
    margin-left: 142px;
    margin-top: 64px;
    height: 1657px;
}







  .moreFooter {
    margin-bottom: 0;
  }

  .moreFooter Ul {
    width: 1156px;
  }

  .moreFooter ul li img{
    width: 330px;
  }

  .moreFooter ul li h3{
    font-size: 30px;
  }

  .mainFooter {
    width: 100%;
  }
  .mainFooter ul {
    margin-left: 144px;
    width: 1044px;
  }

  .logos {
    width: 210px
  }
  .logos img:first-of-type {
    width: 54px;
    height: 32px;
  }
  .logos img {
    width: 40px;
    height: 40px;
  }
  .error {
    display: none;
  }
}



@media (max-width: 1152px) {
  header ul li a {
    font-size: 15px;
  }

  header ul {
    width: 675px;
  }



  .posterIntro h1 {
      margin-top: 142px;
      margin-left: 118px;
      margin-bottom: 42px;
      width: 1084px;
      line-height: 98%;
  }

  .posterIntro p {
    margin-left: 118px;
  }

  .posterIntro img {
    margin-top: -355px;
    width: 1164px;
  }

  .posterIntro {
    background-color: #CD212C;
    color: white;
    display: inline-block;
    height: 760px;
  }

  .introButton a {
    position: absolute;
    left: 430px;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 615px;
  }

  .glazaPoster1 {
    position: absolute;
    right: 0;
    right: 180px;
    display: none;
  }

  .firstSmallContainer {
    flex-direction: column-reverse;
    height: 1340px;
  }

  .firstSmallContainer img {
    width: 500px;
  }

  .firstSmallContainer img {
    width: 650px;
    margin-left: 16%;
  }

  .firstSmallContainer div {
    margin-top: 450px;
    margin-left: 62px;
  }

  .typoGlaza2 {
    display: none;
  }

  .secondTypoSection div {
    flex-direction: column;
  }

  .typoPoster2 {
    width: 650px;
    margin-left: 9%;
  }

  p {
    font-size: 26px;
    width: 540px;
  }

  .thirdTypoSection div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1148px;
  }

  .thirdTypoSection div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1148px;
  }

  .typoPoster6 {
    width: 100%;
    left: 0;
  }

  .typoPoster7 {
    width: 540px;
    left: 25px;
    top: 4586px;
  }

  .typoPoster8 {
    width: 561px;
    top: 4578px;
    right: -12px;
  }

  .fourthTypoSection {
    width: 0;
    margin-left: 180px;
    display: inline-block;
    margin-top: 64px;
    height: 1405px;
  }

  .fourthTypoSection .postersContainer {
    position: absolute;
    left: 25px;
    top: 4956px;
  }

  .secondSmallContainer img {

  }

  .firstGraphoSection h2 {
    text-align: center;
    margin-top: 64px;
  }

  .secondSmallContainer div {
    margin-top: 64px;
  }

  .secondSmallContainer {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: 0;
    flex-direction: column-reverse;
  }

  .secondSmallContainer img {
    width: 650px;
    margin-left: 12%;
  }

  .firstSmallContainer div {
    margin-top: 64px;
    margin-left: 62px;
  }

  .graphoGlaza1 {
    display: none;
  }

  .graphoGlaza2 {
    display: none;
  }

  .firstSmallContainer div {
    margin-top: 64px;
    margin-left: 96px;
  }

  .firstTypoSection {
    margin-left: 118px;
  }

  .firstSmallContainer img {
    width: 650px;
    margin-left: 18%;
  }

  .secondGraphoSection p {
    margin-top: 0;
  }

  .secondGraphoSection div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1205px;
    margin-left: 118px;
    margin-top: 0;
    flex-direction: column;
  }

  .secondGraphoSection img {
    width: 668px;
    margin-left: 10%;
  }

  .thirdGraphoSection img {
    width: 668px;
    margin-left: 10%;
  }

  .thirdSmallContainer {
    flex-direction: column-reverse;
  }

  .thirdSmallContainer div {
    margin-top: 0;
  }

  .graphoPoster6 {
    width: 449px;
    top: 9518px;
    left: 590px;
  }

  .graphoPoster5 {
    width: 526px;
    left: 588px;
  }

  .graphoPoster4 {
    width: 541px;
    left: 25px;
  }

  .fourthGraphoSection {
    width: 100%;
    margin-left: 25px;
    margin-top: 64px;
    height: 1657px;
  }






  .moreFooter ul li img {
    width: 300px;
  }

  .moreFooter Ul {
    width: 920px;
  }

  .moreFooter ul li h3 {
    font-size: 24px;
  }

  .moreFooter h1 {
    width: 900px;
    margin-top: 64px;
    margin-bottom: 42px;
  }

  .moreFooter Ul {
    margin-bottom: 32px;
  }

  .mainFooter {
    display: none;
  }

  .mainSmallFooter {
    display: inline-block;
    width: 100%;
    background-color: #CD212C;
    color: white;
    margin-top: -10px;
  }

  .mainSmallFooter a {
    color: white;
  }

  .massSmallFooterContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 12px;
    height: 528px;
  }
  .lessSmallFooterContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 25px 25px 25px;
  }
  .smallFooterContainer1 h4 {
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
  }
  .smallFooterContainer2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 250px;
    margin-left: 91px;
  }

  .smallFooterContainer2 h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .smallFooterContainer2 h4 {
    margin-bottom: 25px;
  }

  .smallFooterContainer3 {
    display: flex;
    justify-content: space-between;
    width: 259px;
  }
  .lessSmallFooterContainer span {
    font-size: 13px;
    max-width: 555px;
    min-width: 0px;
  }

  .error {
    display: none;
  }
}



@media (max-width: 834px) {

  header, .menu, .posterIntro, .typographyposters, .graphicPosters, footer {
    display: none;
  }

  .error {
    display: block;
  }
  /* .menu {
    background-color: #CD212C;
    width: 100%;
    height: 158px;
    align-items: center;
    position: absolute;
  }

  .menu ul {
    display: flex;
    justify-content: space-between;
    width: 739px;
    align-items: center;
    margin-left: 47px;
    margin-right: 47px;
    padding-top: 35px;
  }
  .menu ul li {
    display: flex;
    align-items: center;
    text-align: center;
  }

  section span {
    margin-right: 0px;
}

  .menu ul li span {
    font-size: 24px;
    color: white;
  }

  #first {
    width: 158px;
    line-height: 138.7%;
  }

  #second, #third, #fourth {
    margin-left: 36px;
  }

  .brandingHeader, .posterHeader, .spaceHeader, .rebrandingHeader {
    display: none;
  }

  .descriptor {
    display: none;
  }

  .burger {
    display: block;
    margin-top: 16px;
    margin-right: 25px;
    width: 30px;
    height: 30px;
  }

  .cross {
    display: none;
    margin-top: 16px;
    margin-right: 25px;
    width: 30px;
    height: 30px;
}

    header ul {
      width: auto;
      margin-top: 0;
      margin-right: 0;
  }





  .moreFooter h1 {
    width: 510px;
    margin-top: 64px;
    margin-bottom: 42px;
    font-size: 36px;
  }

  .moreFooter ul li img {
    width: 200px;
  }

  .moreFooter ul li h3 {
    font-size: 20px;
  }

  .moreFooter Ul {
    width: 709px;
  }
} */



@media (max-width: 414px) {

  header, .menu, .posterIntro, .typographyposters, .graphicPosters, footer {
    display: none;
  }

  /* .menu {
    height: 674px;
  }

  .menu ul {
    flex-direction: column;
    width: 0;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }

  .menu ul li {
    margin-bottom: 140px;
  }

  #first {
    margin-left: 0;
    margin-right: 0;
  }

  #second {
    margin-left: 0;
    margin-right: 0;
  }

  #third {
    margin-left: 0;
    margin-right: 0;
  }

  #fourth {
    margin-left: 0;
    margin-right: 0;
  }






  .moreFooter h1 {
      width: 271px;
      margin-top: 64px;
      margin-bottom: 42px;
      font-size: 36px;
      line-height: 138.7%;
      text-align: center;
  }

  .moreFooter Ul {
    width: 709px;
    flex-direction: column;
    height: 631px;
  }

  .lessSmallFooterContainer {
    flex-direction: column;
  }

  .lessSmallFooterContainer span {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .smallFooterContainer2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 250px;
    margin-left: 0;
  } */
}
