@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');
@import "paragraphs.css";

body{
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
}

header {
  height: 64px;
  background-color: #CD212C;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  position: relative;
z-index: 100;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 119.2%;
  width: 330px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 24px;
  text-decoration: none;
}

.descriptor {
  width: 282px;
  height: 42px;
  margin-top: 1px;
}

header ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 23px;
  margin-right: 24px;
}

header ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

header ul li {
  margin-right: 64px;
}
header ul li:last-child {
  margin-right: 0;
}

.brandingHeader {
  width: 178px;
}

.rebrandingHeader {
  width: 113px;
  font-weight: 700;
}


.brandingHeader a:hover {
  font-weight: 700;
}

.posterHeader a:hover {
  font-weight: 700;
}

.spaceHeader a:hover {
  font-weight: 700;
}






.rebrandingIntro {
  display: inline-block;
  height: 744px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rebrandingIntro h1 {
  margin-top: 180px;
  margin-left: 180px;
  margin-bottom: 42px;
  line-height: 98%;
}

.rebrandingIntro p {
  margin-left: 180px;
}

.rebrandingIntro img {
  width: 1017px;
  height: 913px;
  margin-top: -50px;
}




.pattern {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 180px;
}

.pattern h2 {
  margin-bottom: 128px;
}

.pattern h3 {
  margin-bottom: 64px;
}

.littlePattern {
  width: 1242px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.pattern p {
  margin-bottom: 64px;
  width: 920px;
}

.bigPattern {
  width: 1560px;
  display: flex;
  justify-content: space-between;
}



.character {
  margin-top: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.character h3 {
  margin-bottom: 64px;
}



.font {
  margin-top: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.font h3 {
  margin-bottom: 64px;
}



.rebrandingLogo {
  width: 1244px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 340px;
  margin-top: 180px;
}

.searchLogo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 2500px;
}

.rebrandingLogo h2 {
  margin-bottom: 128px;
}

.first {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1110px;
  margin-left: 80px;
}

.preFirst {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.preThirst .block {
  width: 250px;
}

.preFirst p {
  width: 590px;
}


.second {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 1110px;
}

.preSecond {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.preSecond .block {
  width: 250px;
}

.preSecond p {
  width: 590px;
}

.third {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1110px;
}

.searchLogo .block {
  height: 100px;
}

.preThird {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.preThird p {
  width: 564px;
}

.preThird .block {
  width: 250px;
}

.fourth {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 1110px;
}

.preFourth {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.preFourth .block {
  width: 250px;
}

.fifth {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1110px;
  margin-left: -212px;
}

.preFifth {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.preFifth .block {
  width: 250px;
}

.finalLogo {
  margin-top: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.finalContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.finalContainer p {
  width: 759px;

}

.finalSpyLogoContainer {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  margin-bottom: 64px;
}



.rebrandingIdentity h2 {
  margin-bottom: 128px;
}

.rebrandingIdentity {
  margin-top: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rebrandingIdentity img {
  width: 100%;
  margin-bottom: 64px;
  height: 100%;
}






.moreFooter {
  width: 100%;
  background-color: #CD212C;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: white;
}

.moreFooter a {
  color: white;
}

.moreFooter h1 {
  width: 1011px;
  margin-top: 64px;
  margin-bottom: 42px;
}


.moreFooter ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;
  width: 1566px;
}

.moreFooter ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mainFooter {
  background-color: #CD212C;
  color: white;
  font-size: 18px;
  display: inline-block;
  margin-top: -5px;
}

.mainFooter a {
  color: white;
}

.mainFooter ul {
  display: flex;
  flex-direction: row;
  height: 175px;
  width: 1419px;
  margin-left: 192px;
  margin-top: 106px;
  margin-right: 292px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logos {
  display: flex;
  width: 280px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.me {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.me h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.heads {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heads h3 {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 18px;
}

.heads h4 {
  margin-bottom: 16px;
}

.pages1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pages2 {
  display: flex;
  flex-direction: column;
  height: 97px;
  justify-content: space-between;
}

.tittleContainer {
  font-size: 13px;
  margin: 0px 24px 24px 24px;
  display: flex;
  justify-content: space-between;

}

.tittleContainer span {
  height: 18px;
}

.smallestContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
